{% extends "forum/base.html" %}
{% load i18n guardian_tags %}

{% block forum_content %}
    {% get_obj_perms request.user for category_instance as "category_perms" %}
    
    <div class="clearfix">
        <dl class="sub-nav right">
            <dt class="hide">{% blocktrans %}Actions{% endblocktrans %}:</dt>
            <dd><a href="{% url 'forum:thread-create' category_instance.slug %}"><i class="icon-add-circle"></i> {% blocktrans %}New thread{% endblocktrans %}</a></dd>
            {% if "moderate_category" in category_perms %}<dd><a href="{% url 'forum:category-edit' category_instance.slug %}"><i class="icon-edit"></i> {% blocktrans %}Edit category{% endblocktrans %}</a></dd>{% endif %}
        </dl>
    </div>
    
    {% with object_list as thread_list %}
    {% include "forum/generic_thread_index.html" %}
    {% endwith %}
{% endblock %}
