{% extends "forum/base.html" %}
{% load i18n rstview_tags %}

{% block forum_content %}
    <div class="clearfix">
        <dl class="sub-nav right">
            <dt class="hide">{% blocktrans %}Actions{% endblocktrans %}:</dt>
            <dd><a href="{% url 'forum:thread-recent' %}"><i class="icon-clock"></i> {% blocktrans %}Last threads{% endblocktrans %}</a></dd>
            {% if user.is_staff %}<dd><a href="{% url 'forum:category-create' %}"><i class="icon-add-circle"></i> {% blocktrans %}New category{% endblocktrans %}</a></dd>{% endif %}
        </dl>
    </div>
    
    <div class="row categories-list">
        {% for category in object_list %}
            <div class="small-12 large-6 columns category {% cycle 'odd' 'even' %}{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">
                <div class="inner">
                    <h3><a href="{% url 'forum:category-details' category.slug %}">{{ category.title }}</a></h3>
                    
                    {% if category.description %}<div class="subline">{{ category.description|source_render:"forum_message" }}</div>{% endif %}
                    
                    {% if category.num_threads > 0 %}
                    <div class="row">
                        <div class="small-12 large-6 columns text-center">
                            <p>{% blocktrans %}Thread{% endblocktrans %}: {{ category.num_threads }}</p>
                        </div>
                        <div class="small-12 large-6 columns text-right">
                            <p><a href="{% url 'forum:category-details' category.slug %}" class="button tiny">{% blocktrans %}Browse category{% endblocktrans %} <i class="icon-arrow-right"></i></a></p>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="small-12 large-6 columns text-center">
                            <p>{% blocktrans %}No thread yet{% endblocktrans %}</p>
                        </div>
                        <div class="small-12 large-6 columns text-right">
                            <p><a href="{% url 'forum:thread-create' category.slug %}" class="button tiny">{% blocktrans %}Create first thread{% endblocktrans %} <i class="icon-pencil"></i></a></p>
                        </div>
                    </div>
                    {% endif %}
                    
                    {% if category.get_last_thread %}
                    <p>
                        <strong><a href="{% url 'forum:thread-details' category.slug category.get_last_thread.id %}">{{ category.get_last_thread.subject }}</a></strong> -
                        {% blocktrans with thread_date=category.get_last_thread.modified|date:"d/m/Y à H:i" thread_author=category.get_last_thread.get_last_post.author %}On {{ thread_date }} - By <em>{{ thread_author }}</em>{% endblocktrans %}
                    </p>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <div class="small-12 columns">
                <p class="empty">{% blocktrans %}No category yet{% endblocktrans %}</p>
            </div>
        {% endfor %}
    </div>

    {% comment %}{% pagination_tag pagination_url_args %}{% endcomment %}
    {% include 'forum/pagination.html' %}
{% endblock %}
