{% extends "forum/base.html" %}
{% load i18n crispy_forms_tags guardian_tags rstview_tags %}

{% block forum_content %}
    {% get_obj_perms request.user for category_instance as "category_perms" %}
    {% get_obj_perms request.user for thread_instance as "thread_perms" %}

    <div class="clearfix">
        <dl class="sub-nav right">
            <dt class="hide">{% blocktrans %}Actions{% endblocktrans %}:</dt>
            {% if "moderate_category" in category_perms or "moderate_thread" in thread_perms %}
                <dd><a href="{% url 'forum:thread-edit' category_instance.slug thread_instance.id %}">
                    <i class="icon-edit"></i> {% blocktrans %}Edit this thread{% endblocktrans %}
                </a></dd>
            {% endif %}
            <dd>{% if not user.watcher %}
                <a href="?{{ pagination_url_args }}watch"><i class="icon-eye"></i> {% blocktrans %}Watch this thread{% endblocktrans %}</a>
            {% else %}
                <a href="?{{ pagination_url_args }}unwatch"><i class="icon-eye-slash"></i> {% blocktrans %}Unwatch this thread{% endblocktrans %}</a>
            {% endif %}</dd>
        </dl>
    </div>
    
        {% for post in object_list %}
        <div id="forum-post-{{ post.id }}" class="row post {% cycle 'odd' 'even' %}{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">
            <div class="columns small-12 medium-2 text-center">
                <p><img src="http://placehold.it/125x125" alt=""></p>
                <p>{{ post.author }} <a href="#forum-post-{{ post.id }}">#{{ post.id }}</a></p>
            </div>
            <div class="columns small-12 medium-10">
                <div class="{% cycle 'panel' 'panel callout' %} radius">
                    <div class="date">
                        <h4 title="{{ post.created|date:"d/m/Y à H:i" }}">
                            {% blocktrans with created_date=post.created|timesince %}Since {{ created_date }}{% endblocktrans %}
                        </h4>
                    </div>
                    <div class="message">
                        {{ post.text|source_render:"forum_message" }}
                    </div>
                    <div class="actions text-right">
                        <a class="button tiny radius" href="#reply">{% blocktrans %}Reply{% endblocktrans %} <i class="icon-add-circle"></i></a>
                        {% if FORUM_OWNER_MESSAGE_CAN_EDIT and post.author == request.user or  "moderate_category" in category_perms or "moderate_thread" in thread_perms %}
                            <a class="button tiny radius" href="{% url 'forum:post-edit' category_instance.slug thread_instance.id post.id %}">
                                {% blocktrans %}Edit{% endblocktrans %} <i class="icon-edit"></i>
                            </a>
                        {% endif %}
                        {% if "moderate_category" in category_perms or "moderate_thread" in thread_perms %}
                            {% if not forloop.first %}<a class="button tiny radius" href="{% url 'forum:post-delete' category_instance.slug thread_instance.id post.id %}">
                                {% blocktrans %}Delete{% endblocktrans %} <i class="icon-remove-circle"></i>
                            </a>{% endif %}
                        {% endif %}
                    </div>
                    {% if post.modified > post.created %}
                        <p class="text-right" title="{{ post.modified|date:"d/m/Y à H:i" }}">
                            {% blocktrans with modified_date=post.modified|timesince %}Edited since {{ modified_date }}{% endblocktrans %}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    
    {% comment %}{% pagination_tag %}{% endcomment %}
    {% include 'forum/pagination.html' %}
    
    <hr>
    {% if form %}
    <h3 id="reply">{% blocktrans %}New message{% endblocktrans %}</h3>
    {% crispy form %}
    {% else %}
    <div data-alert class="alert-box warning radius text-center">
        <p>{% blocktrans %}This thread is closed, you can't add it a new post{% endblocktrans %}</p>
    </div>
    {% endif %}
{% endblock %}
