{% extends "forum/base.html" %}
{% load i18n %}

{% block forum_content %}
    <div class="clearfix">
        <dl class="sub-nav right">
            <dt class="hide">{% blocktrans %}Actions{% endblocktrans %}:</dt>
            <dd><a href="{% url 'forum:thread-create' category_instance.slug %}"><i class="icon-plus-circle"></i> {% blocktrans %}New thread{% endblocktrans %}</a></dd>
            {% if perms.forum.moderate_category %}<dd><a href="{% url 'forum:category-edit' category_instance.slug %}"><i class="icon-edit"></i> {% blocktrans %}Edit category{% endblocktrans %}</a></dd>{% endif %}
        </dl>
    </div>
    
    {% with object_list as thread_list %}
    {% include "forum/thread/generic_index.html" %}
    {% endwith %}
{% endblock %}
